.nav {
    --color-background: white;
    --color-on-background: black;
    --color-primary: #1900ff;
    --color-on-primary: white;
/* old color is #ff00ff */
    display: flex;
    column-gap: 2rem;
}
.nav .nav__tab {
    padding-top: 4px;
    border-bottom: 4px solid transparent;
    display: flex;
    align-items: center;
    padding-inline: 0.5rem;
    transition: border-color 100ms ease;
}
.nav .nav__tab.router-link-active {
    border-color: var(--color-on-primary);
}
.nav .nav__tab:hover {
    border-color: var(--color-on-primary);
}

header.new .nav .nav__tab.router-link-active {
    border-color: var(--color-background);
}
header.new .nav .nav__tab:hover {
    border-color: var(--color-background);
}

.nav .nav__actions {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nav .nav__actions .nav__icon {
    height: 3rem;
    width: 3rem;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 100ms ease;
}
.nav .nav__actions .nav__icon:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.nav .nav__actions .nav__icon img {
    height: 1.5rem;
}
.nav .nav__actions .nav__cta {
    margin-left: 1rem;
    padding: 1rem;
    background-color: var(--color-on-primary);
    color: var(--color-primary);
    border-radius: 0.5rem;
    box-shadow: 0 1px 0.5rem 0 rgba(0, 0, 102, 0.5);
    transition: transform 100ms ease;
    white-space: nowrap;
}
.nav .nav__actions .nav__cta:hover:not(:active) {
    transform: translateY(-2px);
}


.filters {
    width:200px;
}

.filters-text {
    padding: 16px 0px 16px 50px;
    border-bottom: 4px solid transparent;
    font-family: "Lexend Deca", sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    cursor: pointer;
}

.filters-menu {
    width:200px;
    background:rgba(0, 0, 0, 1);
    position: relative;
    top: -4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.filters-one {
    font-family: "Lexend Deca", sans-serif;
    font-size: 17.2428571429px;
    line-height: 18px;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    padding: 7px 20px 7px 20px;
/*    color: var(--color-on-background); */
}
.filters-one:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.filters-one span {
    display: inline-block;
    opacity: 0;
}

.filters-one.active span {
    opacity:1
}

.filters-selected .filters-menu {
    max-height: 1000px;
}

.separator-filter {
    line-height: 18px;
}


.level-hidden {
    display: none;
}

/* Shitty */

.shity .nav .nav__tab.router-link-active {
    border-color: transparent;
    color: orange;
}

.shitty .nav .nav__tab:hover {
    border-color: transparent;
    color: orange;
}

.shitty .nav .nav__actions .nav__cta {
    padding: 0.5rem;
    background-color: #ccc;
    color: black;
    border-radius: 0;
    border: 4px outset #eee;
}
